body {
    color:rgb(223, 223, 223);
    background-color:#212529;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family:'Courier New', Courier, monospace;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.invSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

#invDiv {
    display: none;
    height: auto;
    width: 80%;
    margin-top: 8%;
}

.gameSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height:100vh;
}

.emptySection {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#beginButton {
    height: 50px;
    width: 100px;
    margin: 20px;
}

footer {
    flex: 0 50px;
}

html {
    height: 100%;
}

#seed {
    margin: 10px;
    display: none;
    width: auto;
}

#seedP {
    font-style: italic;
    margin: none;
    display: none;
}

#output {
    height: 80%;
    max-height: 600px;
    margin: 5%;
    color: white;
    display: none;
    overflow: auto;
}

#input {
    margin: 20px;
    margin-top:10%;
    display: none;
    width: 300px;
    align-self: start;
}

.bg-dark::placeholder {
    color: rgb(136, 136, 136);
}

.inv-item {
    display: none;
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-content:center;
    /* outline: solid; */
}

.action-div {
    align-self:center;
    /* outline:solid; */
    display: flex;
    align-content: center;
}
  .item-name {
    margin: 10px;
    /* outline:solid; */
  }
  .action-button {
    margin-right: 10px;
    background-color: #212529;
    color: white
  }

#loading {
    display: none;
    position: absolute;
    bottom: 21.5%;
}

@media (max-width: 767px) {
    .hide-on-small-screen {
      display: none;
    }
}

@media (max-width: 1290px) {
    .switch-to-row {
        flex-direction: column-reverse;
    }
    #input {
        width: auto;
    }
    #seed {
        width: auto;
    }
  }


  /* Loading effect */

  .loader {
    overflow: hidden;
    background-color:#212529;
    height:auto;
    width: auto;
    display: block;
    align-items: center;
    align-content: center; 
    justify-content: center;  
    z-index: 100000;
  }
  
  .loader__element {
    border-radius: 100%;
    border: 5px solid rgb(223,223,223);
    margin: 10px;
  }  

  .loader__element:nth-child(1) {
    animation: preloader .6s ease-in-out alternate infinite;
  }
  .loader__element:nth-child(2) {
    animation: preloader .6s ease-in-out alternate .2s infinite;
  }
  
  .loader__element:nth-child(3) {
    animation: preloader .6s ease-in-out alternate .4s infinite;
  }
  
  @keyframes preloader {
    100% { transform: scale(2); }
  }
  